<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjectGlass.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ProjectGlass.Properties.Settings>
            <setting name="load_eneble" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="load_max" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="open_file_name" serializeAs="String">
                <value>Glass.in</value>
            </setting>
            <setting name="save_file_name" serializeAs="String">
                <value>Glass.out</value>
            </setting>
            <setting name="load_active" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="open_file_ext" serializeAs="String">
                <value>in</value>
            </setting>
            <setting name="save_file_ext" serializeAs="String">
                <value>out</value>
            </setting>
            <setting name="draw_width" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="draw_height" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="draw_output_post_input" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pen1_color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="pen2_color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="pen1_value" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="pen2_value" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="g1_color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="g2_color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Lang" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pic_g1_pos" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="pic_g2_pos" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="pic_g1_draw_zoom" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="pic_g2_draw_zoom" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="mode_wheel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Reload_post_end_setting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="scale_one_to_one" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="anim_enebled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="anim_duration" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="glass_creat_mode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="glass_creat_width" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="glass_creat_height" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="filll_glass_mode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Fill_glass_color" serializeAs="String">
                <value>LightBlue</value>
            </setting>
            <setting name="test_func_eneble" serializeAs="String">
                <value>False</value>
            </setting>
        </ProjectGlass.Properties.Settings>
    </userSettings>
</configuration>